@import "tailwindcss";

@layer components {
  .content-section {
    @apply max-w-7xl mx-auto px-6 sm:px-9 md:px-10 lg:px-12;
  }
}
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    @apply bg-white text-black;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}

.recharts-tooltip-wrapper:focus {
  outline: 2px solid transparent;
}
